NET "CLK"			LOC="15";
NET "ECS"			LOC="18";
NET "CDIS"		LOC="23";
NET "READ_n"	LOC="56";
NET "FC0"			LOC="63";
NET "FC1"			LOC="64";
NET "FC2"			LOC="62";
NET "a0"		LOC="8";
NET "a1"		LOC="9";
NET "a16"		LOC="17";
NET "a19"		LOC="10";
NET "a20"		LOC="11";
NET "a21"		LOC="12";
NET "a26"		LOC="13";
NET "a27"		LOC="1";
NET "SIZ0"		LOC="5";
NET "SIZ1"		LOC="6";
NET "AS"			LOC="2";
NET "DS"			LOC="4";
NET "DSACK0"				LOC="60";
NET "DSACK1"				LOC="61";
NET "STERM"					LOC="59";
NET "DRAM_DTACK"	LOC="34";
NET "ROM"			LOC="44";
NET "FPU"				LOC="57";
NET "FLOPPY"		LOC="20";
NET "IDE"				LOC="7";
NET "KBD_CS"		LOC="22";
NET "IO_CS"			LOC="39";
NET "VGA_CS"		LOC="40";
NET "DRAM_CS"			LOC="42";
NET "DRAM_CONFIG"		LOC="35";
NET "ETHRNT"	LOC="43";
NET "BYTE0"		LOC="52";
NET "BYTE1"		LOC="51";
NET "BYTE2"		LOC="50";
NET "BYTE3"		LOC="49";
NET "R_BTN"		LOC="31";
NET "RESET"		LOC="19";
NET "HALT"		LOC="16";
NET "RW_N"		LOC="58";
NET "RW0"		LOC="48";
NET "nRW0"		LOC="47";
NET "RW1"		LOC="46";
NET "nRW1"		LOC="45";
NET "I_DIR"				LOC="24";
NET "I_MEMW"		LOC="25";
NET "I_MEMR"			LOC="27";
NET "I_IOW"				LOC="32";
NET "I_IOR"				LOC="33";
NET "I_ALE"				LOC="36";
NET "I_IOCHRDY"	LOC="38";